{% extends 'base.html' %}
{% block title %}
  Записи сообщества
{% endblock %}
{% block content %}
  <h1>{{ group }}</h1>
  <p>Описание группы: {{ group.description }}</p>
  {% for post in post_list %}
  <article>
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }} 
        <a href="{% url 'posts:profile' user.username %}">
          все посты пользователя
        </a>
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    </article>
    <p>{{ post.text|linebreaksbr| truncatewords:30 }}</p>
      <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor%}
  {% include 'includes/paginator.html' %}
{% endblock %}2