{% extends 'base.html' %}
{% load static %}
{% block header %}} Профайл пользователя {{ user.first_name }} {{ user.last_name }} {% endblock %}
{% block content %}
  <div class="container py-5">        
      <h1>Все посты пользователя {{ user.first_name }} {{ user.last_name }} </h1>
      <h3>Всего постов: {{ posts_count }} </h3>   
      <article>
        <ul>
          <li>
            Автор: { post_number = user.posts.all().count() }
            {% if post.user_profile %}   
            <a href="{% url 'posts:profile' post.user_profile %}"> все посты пользователя </a>
            {% endif %}   
          </li>
          <li>
            Дата публикации: {{ user_post.pub_date|date:"d.m.Y"}} 
          </li>
        </ul>
        <p>
          {{ user_post.text }} 
        </p>
        {% if post_detail %} 
        <a href="{% url 'posts:post_detail' post %}">подробная информация </a>
        {% endif %} 
      </article>
        {% if post.group %}        
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}         
      <hr>
      {% include 'includes/paginator.html' %} 
{% endblock %}
{% include 'footer.html' %}